html {
  font-size: 1.125em;
  line-height: 1.5em;
  font-family: font-family: 'Raleway', sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-family: 'Special Elite', cursive;
  font-size: 1em;
  color:white;
}

header {
  /*padding: .5em .5em .5em .75em;*/
  color: rgb(250, 225, 36);
  line-height: 1.5em;
  font-size: 400;
}

header > h2 {
  font-size: 500;
  line-height: 1em;
  margin: 1.125em 8em 1.125em 8em
}



header > h1, header > h2 {
  font-weight: normal;
}

#title {
  border-bottom: .25em solid #DDDDDD;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; }
 
h1 {
  line-height: 1em;
  margin: 1.125em 15em 1.125em 0;
} 
 
h4 {
  font-size: 600;
  line-height: 1em;
  margin: 1.125em 6em 1.125em 6em
}
 
p {
  margin: 1.125em 8em 1.125em 8em ;
}



ul {
  border-top: none;
  margin: 0 7em 0 8em;
  color: rgb(201, 201, 201)
}

footer {
  font-weight: bold;
  padding: 1em 0 1em 2em;
  background-color: #dedede;
  color: rgb(148, 0, 212);
}
